


    <div class="panel panel-default popup">
        <div class="panel-heading">
          Settings <button type="button" class="pull-right btn btn-default btn-xs" id="js-close"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="panel-body js-panelBody">
        <div class="form-group">
            <div class="col-sm-12 control-label">
                    <div class="js-sheets">Ноты тут</div>
            </div>
         </div>
        </div>
    </div>

