<div class="row">
    <div class="col-md-3">Input:</div>
    <div class="col-md-9">

        <input class="form-control" id="midi-input" name="input" placeholder="Select input device">

        </input>

    </div>

</div>
<div class="row">
    <div class="col-md-3">Optput:</div>
    <div class="col-md-9">

        <input class="form-control" id="midi-output" name="output" placeholder="Select output device">

        </input>

    </div>

</div>
<div class="row">
    <div class="col-md-3">Sounds:</div>
    <div class="col-md-9">

        <input type="checkbox" name="sounds">

    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-success" id="save">Save</button>
    </div>
</div>