<div class="row">
    <div class="col-md-3">Input:</div>
    <div class="col-md-1">

        <select class="form-control" id="midi-input">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

    </div>

</div>