.keyboard-field {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 20%;
  left: 0; }

.keyboard {
  background-color: #2a2a2a;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  padding: 1px;
  overflow: hidden; }
  .keyboard .red-line {
    background-color: #B94A48;
    width: 100%;
    height: 4px;
    top: 0;
    position: absolute;
    z-index: 2000; }
  .keyboard .white-key {
    background-color: #f8f8e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 1.78%;
    float: left;
    height: 98%;
    margin: 1px;
    position: relative;
    border-bottom: 2px solid #fff; }
    .keyboard .white-key:hover {
      height: 96%;
      background-color: #e9e9d1; }
    .keyboard .white-key:active {
      height: 95%;
      background-color: #00fcff;
      border-bottom: 2px solid #d4ffff;
      -webkit-box-shadow: 0px 0px 15px #0099ff;
      -moz-box-shadow: 0px 0px 15px #0099ff;
      box-shadow: 0px 0px 15px #0099ff;
      z-index: 500; }
    .keyboard .white-key.down {
      height: 95%;
      background-color: #00fcff;
      border-bottom: 2px solid #d4ffff;
      -webkit-box-shadow: 0px 0px 15px #0099ff;
      -moz-box-shadow: 0px 0px 15px #0099ff;
      box-shadow: 0px 0px 15px #0099ff;
      z-index: 500; }
  .keyboard .black-key {
    background-color: #2a2a2a;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;
    float: left;
    width: 1.4%;
    height: 70%;
    margin-left: -0.7%;
    margin-right: -0.7%;
    position: relative;
    -webkit-box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 6px 4px 0px 0px rgba(0, 0, 0, 0.07); }
    .keyboard .black-key:hover {
      background-color: #000; }
    .keyboard .black-key:active {
      background-color: #ffcc00;
      border-bottom: 1px solid #fff76f;
      -webkit-box-shadow: 0px 0px 15px #fff76f;
      -moz-box-shadow: 0px 0px 15px #fff76f;
      box-shadow: 0px 0px 15px #fff76f; }
    .keyboard .black-key.down {
      background-color: #ffcc00;
      border-bottom: 1px solid #fff76f;
      -webkit-box-shadow: 0px 0px 15px #fff76f;
      -moz-box-shadow: 0px 0px 15px #fff76f;
      box-shadow: 0px 0px 15px #fff76f; }

@media screen and (max-width: 1800px) {
  .keyboard .white-key {
    margin: 0.5px; } }
@media screen and (max-width: 800px) {
  .keyboard .white-key {
    width: 1.7%;
    margin: 0.5px; } }
@media screen and (max-width: 500px) {
  .keyboard .white-key {
    width: 1.65%;
    margin: 0.5px; } }
.settings {
  width: 500px;
  height: auto; }

.row {
  padding-bottom: 10px; }

#js-close {
  background-color: transparent;
  border: none; }
  #js-close span {
    color: #777777; }

body {
  background-color: #fff; }

.navigate-contanier {
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: #2a2a2a; }
  .navigate-contanier .logo {
    top: -6px;
    position: relative; }
    .navigate-contanier .logo img {
      width: 26px; }
  .navigate-contanier .btn-group {
    right: 10px;
    position: absolute;
    top: 6px;
    background: black; }

.page-contanier {
  position: absolute; }

.popup-contanier {
  z-index: 5000;
  position: absolute;
  top: 0;
  right: 0; }

.popup {
  -webkit-box-shadow: 0px 0px 33px -5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 33px -5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 33px -5px rgba(0, 0, 0, 0.12); }
