@mixin white-key-down() {
  height:95%;
  background-color: #00fcff;
  border-bottom: 2px solid #d4ffff;
  @include box-shadow(0px 0px 15px,#0099ff);
  z-index: 500;
}
@mixin black-key-down() {
  background-color: #ffcc00;
  border-bottom: 1px solid #fff76f;
  @include box-shadow(0px 0px 15px,#fff76f);
}

.keyboard-field{
  position: fixed;
  bottom: 0%;
  width:100%;
  height: 20%;
  left:0;
}

.keyboard{
  background-color: $second-background;
  border-radius: 3px;
  width:100%;
  height:100%;
  padding: 1px;
  overflow: hidden;
  .red-line{
    background-color: #B94A48;
    width: 100%;
    height: 4px;
    top: 0;
    position: absolute;
    z-index: 2000;
  }
  .white-key{
    background-color: #f8f8e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 1.78%;
    float:left;
    height:98%;
    margin:1px;
    position: relative;
    border-bottom: 2px solid #fff;
    &:hover {
      height:96%;
      background-color: #e9e9d1;
    }

    &:active {
      @include white-key-down();
    }
    &.down{
      @include white-key-down();
    }

  }

  .black-key{
    background-color: #2a2a2a;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;
    float: left;
    width: 1.4%;
    height:70%;
    margin-left: -0.7%;
    margin-right: -0.7%;
    position: relative;

    @include box-shadow(6px 4px 0px 0px,rgba(0,0,0,0.07));

    &:hover {
    //    height:68%;
      background-color: #000;
    }
    &:active {
      @include black-key-down();
    }
    &.down{
      @include black-key-down();
    }

  }

}
.sounds-loader{
  z-index: 2000;
  background-color:#000;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  opacity: 0.5;
}
@import "media_small";

