<div class="panel panel-default">

  <div class="panel-heading form-horizontal js-sheets-select">

    <div class="form-group">
      <label class="col-md-1 control-label" for="sheets-select">Sheets</label>
      <div class="col-md-11">
        <input class="form-control" id="sheets-select" name="sheets" placeholder="Select music sheets to play">
      </div>
    </div>

  </div>

  <div class="panel-body js-sheets-show"></div>

</div>
