<div class="panel panel-default">

  <div class="panel-heading js-sheets-select">
    <div class="row">
      <div class="col-xs-10">
        <input class="form-control" id="sheets-select" name="notesheet" placeholder="Select music sheets to play">
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-default btn-xs btn-block" id="play">Play</button>
      </div>
    </div>
  </div>

  <div class="panel-body js-sheets-show"></div>

</div>
