<div class="panel panel-default col-md-12 noborder">
  <div class="panel-heading js-sheets-select noborder">
    <input class="form-control" id="sheets-select" name="notesheet" placeholder="Select music sheets to play"/>
  </div>

  <div class="panel-body js-sheets-show"></div>
</div>
