


    <div class="panel panel-default">
        <div class="panel-heading">
          Играем ноты.
        </div>
        <div class="panel-body js-panelBody">
        <div class="form-group">
            <div class="col-sm-12 control-label">
                    <div class="js-sheets">Ноты тут</div>
            </div>
         </div>
        </div>
    </div>

    <div class="js-piano keyboard-field"> Клавиши тут. </div>

