<div class="col-lg-12 col-lg-offset-0 col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Играем ноты.
        </div>
        <div class="panel-body js-panelBody">
        <div class="form-group">
            <div class="col-sm-2 control-label">
                    <div class="js-sheets"></div>
            </div>
            <div class="col-sm-10 control-label">
                <div class="js-piano">

                </div>
            </div>
         </div>
        </div>
        </div>
</div>
